@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto", sans-serif;
}

header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    border: 1px grey solid;
    padding: 2rem;
    background-color: lightcyan;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;    
}

main section{
    padding: 1rem;
    background-color: white;
    border: 1px black solid;
}