@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{

    --text-color: black;
    --inv-text-color: white; 
    --body-color: #DAD7CD;
    --card-color: #A3B18A;
    --header-color: #588157;
    --nav-color: #3A5A40;
}

body{    
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: "Open Sans", sans-serif;
}

#content{
    max-width: 1024px;
    margin: 0 auto;
}

/** Header Styles **/

header{
    display: flex;
    align-items: center;    
}
header h1{
    width: 100%;
    text-align: center;
}
header div img{
    height: 150px;
}

#dark-mode{
    background-color: white;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#dark-mode::before{
    content: "🌚";
}

#dark-mode.dark::before{
    content: "☀";
}

/** Navigation Styles **/
#menubutton{
    background-color: transparent;
    padding: .25rem .5rem;    
}

#menubutton::before{
    content: "≡";
}

#menubutton.open::before{
    content: "X";
}

#navbar{
    display: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

#navbar.open{
    display: flex;
    flex-direction: column;
}

#navbar li{
    list-style: none;
    width: 100%;
    background-color: var(--nav-color);
    padding: 1rem 0;
    text-align: center;
}

#navbar li.active{
    background-color: var(--header-color);
}

#navbar li a{
    color: white;
    text-decoration: none;
}

#navbar li:hover{
    opacity: .7;
}

/** Home Page Main Styles **/

.hero{
    border-top: 2px solid var(--nav-color);
    border-bottom: 2px solid var(--nav-color);
    text-align: center;
    position: relative;
    overflow: hidden;
    max-height: 400px;
}

.hero p{
    position: absolute;
    top: 0px;
    right: 20px;
}

.hero p::before{
    content: "small";
    background-color: grey;
    opacity: .5;
    font-size: 2rem;    
}

.hero img{
    width: 100%;
}

.hero button{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: var(--card-color);
    font-size: 1.25rem;
    padding: .5rem;
    border-radius: 8px;
}

.events{
    border-top: 2px solid var(--nav-color);
    border-bottom: 2px solid var(--nav-color);
    margin: 0px;
    padding: 1rem;
    text-align: center;
}

.event-card{
    border: 2px solid var(--nav-color);
    background-color: var(--card-color);
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}
.events img{
    height: 125px;
}

.weather{
    border-top: 2px solid var(--nav-color);
    border-bottom: 2px solid var(--nav-color);
    margin: 0px;
    padding: 1rem;
    text-align: center;   
}

.weather img{
    height: 125px;
    border: 1px var(--card-color) solid;
    padding: 1rem;
}

.weather-card{
    border: 2px solid var(--nav-color);
    background-color: var(--card-color);
    padding: 1rem;
    margin: 1rem;
}

#current-conditions, #temperature{
    font-weight: bold;
}

.spotlight{
    border: 2px solid var(--nav-color);
    background-color: var(--card-color);
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    min-width: 250px;
}

.spotlight img{
    border: 2px solid var(--nav-color);
    box-shadow: #3A5A40 5px 5px;
}

/** Footer Styles **/

footer{
    border-top: 2px solid var(--nav-color);
    border-bottom: 2px solid var(--nav-color);
    text-align: center;
}

.main-footer img{
    height: 250px;
}

footer a{
    color: var(--text-color);
}

.base-footer{
    padding: 1rem;
    background-color: var(--header-color);
    color: var(--text-color);
}

/* Discover Page Styles */

.discover-main section{
    border: 2px black solid;
    margin: 1rem;
}

.discover-image{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 432px;    
}

.discover-image div {    
    margin: 1rem;    
}

.discover-demographics h2 {    
    margin: 1rem;
}

.discover-demographics h3 {    
    margin: 1rem;
}

.discover-main section {    
    margin: 1rem;
}

.discover-main img {
    width: 400px;
    height: auto;
}