@media screen and (min-width: 1024px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hero{
        grid-column: 1/4;
    }
    .events{
        grid-column: 1/3;
    }
    .weather{
        grid-column: 3/4;
    }
    .spotlights{
        grid-column: 1/4;
        display: flex;
    }
    /* .spotlight{
        width: 100%;
    } */
    nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    nav ul li{
        display: block;
    }
}